*.tar
*.swo
*.swp
*sprite_info.yml
*~
.DS_Store
.bundle
.idea/
.rspec
data/*.txt
jenkins_credentials.yml
github_credentials.yml
gmail_credentials.yml
config/database.yml
config/database.yml.macMysql
config/database.yml.old
config/matelso.yml
coverage/*
db/*.sql*
db/sphinx*
db/sphinx/*
log/**
log/*.log
nbproject
public/assets
public/avatars
public/javascripts/cache/*.js
public/stylesheets/cache/*.css
public/landingpages
tmp/**/*
vendor/plugins/crm_*
.project
.settings
.sass-cache
development.sphinx.conf
tmp/
public/javascripts/dachdecker.cached.js
config/unicorn.development.rb
vendor/ruby
vendor/cache/
config/initializers/pry.rb
config/unicorn.development.rb
config/profile_domains.development.yml
.stagecoach
vendor/plugins/crumbs/coverage/
spec/test_data/csv_import/ZVDH/
